.loadingContainer {
    width: 500px;
    height: 634px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* From https://css.glass */
    background: rgba(200, 196, 196, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(200, 196, 196, 0.21);
  }
  
  .loader {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      43deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  
    animation: rotation 0.5s linear infinite;
  }
  
  .loader div {
    background-color: white;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(358deg);
    }
  }