.mainInfo {
    padding: 30px 40px 40px;
    box-sizing: border-box;
    /* From https://css.glass */
    background: rgba(200, 196, 196, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(200, 196, 196, 0.21);
}

.city {
    font-size: 32px;
    text-align: center;
    font-weight: bolder; 
}

.country {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weatherIcon {
    border-radius: 20px;
    width: 90px;
}

.description {
    font-size: 24px;
}

.temperature {
    font-size: 38px;
    font-weight: bold;
}

.others {
    font-size: 10px;
}

.cityMap {
    margin-top: 10px;
    border-radius: 5px;
}